
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
  --gray-blue: hsl(220, 15%, 55%);
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --dark-blue: hsl(218, 44%, 22%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  background: var(--light-gray);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 10px;

}

.sr-only { 
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px; 
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px, 1px, 1px, 1px); /*maybe deprecated but we need to support legacy browsers */
  clip-path: inset(50%); /*modern browsers, clip-path works inwards from each corner*/
  white-space: nowrap; /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}

.container {
 display: flex;
 justify-content: center;
 align-items: center;  
}


.card {
  max-width: 324px;
  padding: 18px;
  border-radius: 18px;
  background: white;
  text-align: center;
}

img {
  width: 100%;
  border-radius: 12px;
}

.card h2 {
  padding: 20px 0;
  font-weight: bold;
}

.card p {
  padding-bottom: 10px;
  color: var(--gray-blue)
}